@page
@model Torneo.App.Frontend.Pages.Partidos.EditModel
@{
}

<style>
    *{box-sizing: border-box;}
    .header{border:1px;
            padding: 1px;}
    .menu{width: 70%;
          float: left;
          padding: 1px;
          border: 1px;
          text-align:left;}
    .main{width: 30%;
          float: left;
          padding: 1px;
          border: 1px;
          text-align: center;}
</style>
<div class="header">
    <h1>Editar Partido</h1>
</div>

<form method="post">
<div class="menu">
    <div class="form-group">
        <label asp-for="partido.Id"></label> 
        <input asp-for="partido.Id" class="form-control" readonly>        
       
    </div>    

    <div class="form-group">
        <label asp-for="partido.FechaHora"></label> 
        <input asp-for="partido.FechaHora" class="form-control">       
       
    </div>
    
    <div class="form-group">
        <label asp-for="equipoLSelected">Equipo Local</label>
        <select asp-for="equipoLSelected" asp-items="@Model.equipoLOption" name="idEquipoLocal" class="form-control">
        </select>
    </div>

    <div class="form-group">
              
        <label asp-for="partido.MarcadorEquipoLocal">Marcador del Equipo Local</label>
        <input asp-for="partido.MarcadorEquipoLocal" class="form-control">
       
    </div>

    <div class="form-group">
        <label asp-for="equipoVSelected">Equipo Visitante</label>
        <select asp-for="equipoVSelected" asp-items="@Model.equipoVOption" name="idEquipoVisitante" class="form-control">
        </select>
    </div>

    <div class="form-group">
              
        <label asp-for="partido.MarcadorEquipoVisitante">Marcador del Equipo Visitante</label>
        <input asp-for="partido.MarcadorEquipoVisitante" class="form-control">

    </div>

    <button type="submit" class="btn btn-primary btn-block" style="margin:40px;">Editar Partido</button>
    <a class="btn btn-secondary ms-3" asp-page="./Index">Volver</a>
    
</form>
</div>
</div>

<div class="main"> 
            <figure class="figure">
            <img class="img-fluid rounded" src="~/imagen/trofeo.jpg" width="200px" />
            </figure>
       
    </div>
</div>
