@page
@model Torneo.App.Frontend.Pages.Posiciones.CreateModel
@{
}

<style>
    *{box-sizing: border-box;}
    .header{border:1px;
            padding: 1px;}
    .menu{width: 70%;
          float: left;
          padding: 1px;
          border: 1px;
          text-align:left;}
    .main{width: 30%;
          float: left;
          padding: 1px;
          border: 1px;
          text-align: center;}
</style>
<div class="header">
    <h1>Nueva Posicion</h1>
</div>

<form method="post">
<div class="menu">
    <div class="form-group">
        <label asp-for="posicion.Nombre"></label>
        <input asp-for="posicion.Nombre" class="form-control">
        <span class="text-danger" asp-validation-for="posicion.Nombre"></span>
    </div>

    <button type="submit" class="btn btn-primary btn-block" style="margin:50px ;">Agregar Posicion</button>
</form>
<a class="btn btn-secondary" asp-page="./Index">Volver</a>
</div>
</div>

<div class="main"> 
            <figure class="figure">
            <img class="img-fluid rounded" src="~/imagen/posiciones.jpg" width="300px" />
            </figure>
       
    </div>
</div>