@page
@model Torneo.App.Frontend.Pages.Dts.EditModel
@{
}

<style>
    *{box-sizing: border-box;}
    .header{border:1px;
            padding: 1px;}
    .menu{width: 70%;
          float: left;
          padding: 1px;
          border: 1px;
          text-align:left;}
    .main{width: 30%;
          float: left;
          padding: 1px;
          border: 1px;
          text-align: center;}
</style>
<div class="header">
    <h1>Editar DirectorTecnico</h1>
</div>


<form method="post">
<div class="menu">
    <div class="form-group">
        <label asp-for="DTs.Id"></label>
        <input asp-for="DTs.Id" class="form-control" readonly>
    </div>
    <div class="form-group">
        <label asp-for="DTs.Nombre"></label>
        <input asp-for="DTs.Nombre" class="form-control">
    </div>
    <button type="submit" class="btn btn-primary btn-block" style="margin:50px;">Editar Director Tecnico</button>
</form>
<a class="btn btn-secondary" asp-page="./Index">Volver</a>

</div>
</div>
<div class="main"> 
            <figure class="figure">
            <img class="img-fluid rounded" src="~/imagen/entrenador.jpg" width="200px" />
            </figure>
       
    </div>
</div>