@page
@model Torneo.App.Frontend.Pages.Jugador.CreateModel
@{
}

<style>
    *{box-sizing: border-box;}
    .header{border:1px;
            padding: 1px;}
    .menu{width: 70%;
          float: left;
          padding: 1px;
          border: 1px;
          text-align:left;}
    .main{width: 30%;
          float: left;
          padding: 1px;
          border: 1px;
          text-align: center;}
</style>

<div class="header">
    <h1>Nuevo Jugador</h1>
</div>
<form method="post">

<div class="menu">  
    <div class="form-group">
        <label asp-for="jugador.Nombre"></label>
        <input asp-for="jugador.Nombre" class="form-control">
    </div>

    <div class="form-group">
        <label asp-for="jugador.Numero"></label>
        <input asp-for="jugador.Numero" class="form-control" value="">

    </div>

    <div class="form-group">
        <label for="idEquipo">Equipo</label>
        <select id="idEquipo" name="idEquipo" class="form-control">
            @foreach (var equipo in Model.equipo)
            {
                <option value="@equipo.Id">@equipo.Nombre</option>
            }
        </select>
    </div>

    <div class="form-group">
        <label for="idPosicion">Posicion</label>
        <select id="idPosicion" name="idPosicion" class="form-control">
            @foreach (var posicion in Model.posicion)
            {
                <option value="@posicion.Id">@posicion.Nombre</option>
            }
        </select>
    </div>

    <button type="submit" class="btn btn-primary btn-block" style="margin:50px ;">Crear Jugador</button>
</form>
<a class="btn btn-secondary" asp-page="./Index">Volver</a>
</div>
</div>

<div class="main"> 
            <figure class="figure">
            <img class="img-fluid rounded" src="~/imagen/jugador.jpg" width="200px" />
            </figure>
       
    </div>
</div>

