@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="Container">
    <div class = "row">
        <div class="text-center">
            <figure class="figure">
            <figcaption class="figure-caption">TURING DEVELOPERS</figcaption>
            <img class="img-fluid rounded" src="~/imagen/turing_imagen.jpg"  />
            </figure>

            <p>Clic en el enlace <a href="https://drive.google.com/file/d/1bQfl15049da2f35VEBttuY0XUuI-nYBi/view?usp=sharing"> Descripcion del torneo</a>.</p>

        </div>
    </div>
</div>

