@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="Container center">
    <div class="row justify-content-center">
        <div class="card text-center" style="width: 18rem;">
            <figure class="figure">
                <figcaption class="figure-caption">TURING DEVELOPERS</figcaption>
                <img class="card-img-top" src="~/imagen/turing_imagen.jpg" alt="Card image cap">
            </figure>
            <div class="card-body">
                <p class="card-text">Clic en el enlace <a
                        href="https://drive.google.com/file/d/1bQfl15049da2f35VEBttuY0XUuI-nYBi/view?usp=sharing">
                        Descripcion del torneo</a>.</p>
            </div>


        </div>
    </div>
</div>
