@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">RETO TORNEO GRUPO 26 CICLO 3</h1>
    <p>Clic en detalle <a href="https://drive.google.com/file/d/1bQfl15049da2f35VEBttuY0XUuI-nYBi/view?usp=sharing">Reto Torneo</a>.</p>
</div>
